{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- Add your home page content here -->

  <div class="jumbotron mt-5" style="background-color: var(--bs-body-bg)">
    <h1 class="display-4">Welcome to Your Music App</h1>
    <p class="lead">Explore and enjoy your favorite music!</p>
    <hr class="my-4">
    {% if current_user.is_authenticated %}
      {% if current_user.is_admin %}
        <p class="lead">Hello, Admin!, you are currently logged in</p>
        <p class="lead">Your Dashboard: <a href="{{ url_for('views.adminDashboard') }}">Admin Dashboard</a></p>
      {% else %}
        <p class="lead">Hello, {{ current_user.first_name }}!, you are currently logged in</p>
        <p class="lead">Your Dashboard: <a href="{{ url_for('views.userDashboard') }}">User Dashboard</a></p>
        
      {% endif %}
    {% else %}
      <p class="lead">Welcome! </p>
      <p class="lead">Please <a href="{{ url_for('views.userLogin') }}">Login</a> or <a href="{{ url_for('views.userSignup') }}">Sign Up</a></p>
    {% endif %}
  </div>

  <script>
    // You can also use JavaScript to set the custom variables dynamically
    document.body.style.setProperty('--bs-body-bg', '#adb5bd');  // Example HEX code
    //document.body.style.setProperty('--bs-body-bg-rgb', 'rgb(255, 0, 0)');  // Example RGB value
  </script>

{% endblock %}

