{% extends 'base.html' %}

{% block title %}Playlist Details{% endblock %}

{% block content %}
  <div class="container mt-4" style="color: white;">
    <h1>Playlist: {{ playlist.name }}</h1>
    <p>Created at: {{ playlist.created_at }}</p>
    
    <h2 style="color: white;">Songs in this Playlist:</h2>
    <ul>
      {% for song in playlist.songs %}
        <li>
          <strong style="color: white;">{{ song.title }}</strong> - {{ song.artist }}
          <a href="{{ url_for('views.song_details', song_id=song.id) }}" style="color: white;">Details</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
